<!doctype html>
<html lang="ru">
    <head>
        <title>Войти на сайт</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="style.css" rel="stylesheet">
    </head>
    <body>
<header>
<nav class="container">
	<div class="logo navbar-brand">Артера</div>
	<div class="header_search">
		<div class="input-group col-md-12">
			<input type="text" class="form-control input-lg" placeholder="Что ищем?" />
			<span class="input-group-btn">
				<button class="btn btn-info btn-lg" type="button">Найти</button>
			</span>
		</div>
	</div>
	<div class="header_user"></div>
</nav>
</header>
<section>
<div class="container">
<h1>Войти через социальные сети</h1>
<div class="row social">
	<a href="" class="social__item col-md-1">Вконтакте</a>
	<a href="" class="social__item col-md-1">Facebook</a>
	<a href="" class="social__item col-md-1">Google+</a>
</div>
<hr>
<h1>Войти через Email</h1>

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if not user.is_authenticated %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}

<div>
  <td>email</td>
  <td>{{ form.username }}</td>
</div>
<div>
  <td>{{ form.password.label_tag }}</td>
  <td>{{ form.password }}</td>
</div>

<div>
  <input type="submit" value="login" />
  <input type="hidden" name="next" value="{{ next }}" />
</div>
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Lost password?</a></p>
<p><a href="{% url 'signup' %}">Sign up</a></p>
</div>
</section>
<footer>
</footer>	
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>