<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=1024">
    <title>Заголовок страницы</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/datepicker.min.css' %}" rel="stylesheet">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>

</head>
<body class="page">
	<header>
		<div class="container">
			<div class="flex">
				<div class="header__brand">
					<a href="" class="header__logo"><img src="{% static 'img/logo.png' %}" alt=""></a>
					<div class="header__slogan d-none d-lg-block">Свободный рынок искусства</div>
				</div>
				<div class="header__nav-menu">
					<a href="" class="header__search"><img src="{% static 'img/header__search.png' %}" alt="">Поиск</a>
					<div class="header__sep"></div>
					{% if user.is_authenticated %}
					<div class="header__user-menu is-authorized">
						<a href="" class="user-menu__item d-none d-md-block">Обновления</a>
						<a href="" class="user-menu__item d-none d-md-block">Сообщения</a>
						<div class="user-menu__avatar" style="background-image: url({{ profile.avatar.url }});"></div>
						<div class="user-toggle-menu" style="display: none;">
							<div class="user-toggle-menu__items">
								<a href="{% url 'profile_info' %}" class="user-toggle-menu__item">Моя страница</a>
								<a href="" class="user-toggle-menu__item">Личный кабинет</a>
								<hr class="d-md-none">
								<a href="" class="user-toggle-menu__item d-md-none">Обновления</a>
								<a href="" class="user-toggle-menu__item d-md-none">Сообщения</a>
								<hr class="visible-sm">
								<a href="{% url 'profile_edit' %}" class="user-toggle-menu__item">Редактировать</a>
								<hr>
								<a class="lightgray" href="{% url 'logout' %}" class="user-toggle-menu__item">Выйти</a>
							</div>
						</div>
					</div>
					{% else %}
					<div class="header__user-menu is-unauthorized">
						<a href="{% url 'login' %}" class="user-menu__item">Войти</a>
						<a href="{% url 'signup' %}" class="user-menu__item">Зарегистрироваться</a>
					</div>
					{% endif %}
				</div>
			</div>
		</div>
	</header>
	<div class="wrapper">
		<div class="search-page">
			<div class="container">
				<div class="row search-page__header">
					<div class="col-md-8">
						<div class="search-menu">
							<div class="search-menu__items">
								<div class="search-menu__item search-menu__item--active">Картины<span>21032</span></div>
								<div class="search-menu__item">Художники<span>1455</span></div>
								<div class="search-menu__item">Критики<span>954</span></div>
							</div>
						</div>
						<div class="search-filtres">
							<div class="search-filtres__items">
								<div class="dropdown">    
									<div class="new-knop">
									    <div rel='m1' class="knop k1">Жанры</div>
									    <div rel='m2' class="knop k2">Техника исполнения</div>
									    <div rel='m3' class="knop k3">Цена</div>
									    <div rel='m4' class="knop k4">Год создания</div>
									    <div rel='m5' class="knop k5">Наличие документов</div>
									</div> 
									<ul class="dropdown-menu m1">
										<form action="" method="get" class="dropdown-menu__items">
											<div class="o-dropdown-menu__items__inputs">
												<div class="dropdown-menu__items__inputs">
													{% for genre in genres %}
													<div class="form-check form-check-inline">
														<input class="form-check-input" type="checkbox" value="{{genre}}">
														<label class="form-check-label">{{genre}}</label>
													</div>
													{% endfor %}
												</div>
											</div>
											<div class="search-filtres__submit">
												<div type="submit" class="search-filtres__submit__btn">Применить</div>
											</div>
										</form>
									</ul>    
									<ul class="dropdown-menu m2">
										<form action="" class="dropdown-menu__items">
											<div class="o-dropdown-menu__items__inputs">
												<div class="dropdown-menu__items__inputs">
													{% for technique in techniques %}
													<div class="form-check form-check-inline">
														<input class="form-check-input" type="checkbox" value="{{technique}}">
														<label class="form-check-label">{{technique}}</label>
													</div>
													{% endfor %}
												</div>
											</div>
											<div class="search-filtres__submit">
												<div type="submit" class="search-filtres__submit__btn">Применить</div>
											</div>
										</form>
									</ul>
									<ul class="dropdown-menu m3"></ul>

									<ul class="dropdown-menu m4">
									<form action="" class="dropdown-menu__items">
											<div class="o-dropdown-menu__items__inputs">
												<div class="dropdown-menu__items__inputs">
													<div class="form-group">
														<h4>Диапазон дат</h4>
														<div class="form-group row">
														    <label for="data-kartina-ot" class="col-sm-1 col-form-label">От</label>
														    <input type="text" class="form-control" id="data-kartina-ot">
														</div>
														<div class="form-group row">
														    <label for="data-kartina-do" class="col-sm-1 col-form-label">До</label>
														    <input type="text" class="form-control" id="data-kartina-do">
														</div>
													</div>
												</div>
											</div>
											<div class="search-filtres__submit">
												<div type="submit" class="search-filtres__submit__btn">Применить</div>
											</div>
										</form>
									</ul>
									<ul class="dropdown-menu m5">
										<form action="" class="dropdown-menu__items">
											<div class="o-dropdown-menu__items__inputs">
												<div class="dropdown-menu__items__inputs">
													<div class="form-check form-check-inline">
														<input class="form-check-input" type="checkbox" id="est-dokumenty-podlinnosti" value="option1">
														<label class="form-check-label" for="est-dokumenty-podlinnosti">Есть документы подлинности</label>
													</div>
												</div>
											</div>
											<div class="search-filtres__submit">
												<div type="submit" class="search-filtres__submit__btn">Применить</div>
											</div>
										</form>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4 search-page__sidebar">
						<form action="" class="search-sidebar">
							<input type="text" class="search-sidebar__input" placeholder="Поиск по названию картины">
							<div class="search-sidebar__button">
								<img src="{% static 'img/search__sidebar.png' %}" alt="">
								<span>Найти</span>
							</div>
						</form>
					</div>
				</div>
				<div class="search-page__pictures">
					<div class="col-md-8" style="padding: 0px;">
						<div class="user-gallery__grid">
						<div class="user-gallery__picture">
							{% for painting in paintings %}
							<div class="user-gallery__o-picture">
								<div class="user-gallery__img"><img src="{{ painting.image.url }}" alt=""></div>
								<div class="user-gallery__text">
									<div class="user-gallery__left">
										<div class="user-gallery__title">{{ painting.name }}</div>
										<div class="user-gallery__size">{{ painting.width }} х {{ painting.height }} см</div>
									</div>
									<div class="user-gallery__right">
										<div class="user-gallery__cost">
											<div class="user-gallery__cost__icon">$</div>
											<div class="user-gallery__cost__text">{{ painting.cost }}</div>
										</div>
										<div class="user-gallery__max-order">
											<div class="user-gallery__max-order__icon">
												<img src="{% static 'img/icon__graphic.png' %}" alt="">
											</div>
											<div class="user-gallery__max-order__text">180 000</div>
										</div>
									</div>
								</div>
							</div>
							{% endfor %}
						</div>
					</div>
					</div>
					<div class="col-md-4" style="padding-right: 0px;>
						<div class="search-page__map">
							<div class="search-map">
<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Adb07775a72ba9b4482ad4d513f8131caf17d71c61fe82622bd7a22a7b640e303&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
							</div>
							<form action="" class="search-map__find-city">
								<div class="find-city__icon"></div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

    <script src="{% static 'js/datepicker.min.js' %}"></script>
	<script src="{% static 'js/jquery.ui-slider.js' %}	"></script>

    <script src="{% static 'js/script.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.fancybox.min.js' %}"></script>

</html>