<!doctype html>
<html lang="ru">
    <head>
        <title>Редактирование личной инфы</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="style.css" rel="stylesheet">
    </head>
    <body>
<header>
<nav class="container">
	<div class="logo navbar-brand">Артера</div>
	<div class="header_search">
		<div class="input-group col-md-12">
			<input type="text" class="form-control input-lg" placeholder="Что ищем?" />
			<span class="input-group-btn">
				<button class="btn btn-info btn-lg" type="button">Найти</button>
			</span>
		</div>
	</div>
	<a href="" class="header_reg">Регистрация</a>
	<a href="" class="header_auth">Войти</a>
	<div class="header_user"></div>
</nav>
</header>
<section>
<div class="container">
	<h1>Добавление картины</h1>
	<form method="post" enctype="multipart/form-data">
		{% csrf_token %}
		{{ form.as_p }}
		<button type="submit">Save</button>
	</form>
</div>
</section>
<footer>
</footer>	
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>